---
import SousPage from "@layouts/SousPage.astro";
---
<SousPage title="Mes personnages">
    <ul>
        <li><a href="/personnages/persona"><img class="pixel" src="/img/personnages/persona/alors_glam_hama.png" alt="" height="32"> Mon persona</a></li>
    </ul>    
</Page>