---
import Personnage from "@layouts/Personnage.astro";
---
<Personnage title="Mon persona !">
    <p>C'est ellui qui me représente sur les Internets !!</p>
    
    <h2>Physique</h2>
    <p>Le personnage a :</p>
    <ul>
        <li>les yeux gris</li>
        <li>de très longs cheveux châtains qu'iel tresse</li>
        <li>4 bras</li>
        <li>une split tongue</li>
    </ul>
    
    
    <h2>Styles</h2>
    <p>Iel peut avoir plusieurs styles et vibes :</p>
    <h3>Style classique</h3>
    <img src="/img/personnages/persona/alors_dessins_papier.jpg" alt="Un dessin de mon persona dans des vêtements classiques">
    <p>Dans ce style, iel porte des vêtements habituels mais confortables : hoodie et jupe.</p>
    
    <h3>Style glam</h3>
    <img src="/img/personnages/persona/alors_glam_pokemon_2g_200.png" alt="Mon persona dans le style des jeux Pokémon">
    <img src="/img/personnages/persona/alors_glam_hama.png" alt="Mon persona">
    <img src="/img/personnages/persona/alors_glam_dab.png" alt="Mon persona qui effectue le dab">
    <img src="/img/personnages/persona/alors_glam_pikmin_pose.png" alt="Mon persona qui pose, allongé·e">
    <img src="/img/personnages/persona/alors_glam_modele_stream.gif" alt="Mon persona qui parle">
    <p>Une forme qui brille !! Avec des vêtements roses bonbon et jaunes, des cheveux blancs, et surtout plein de paillettes !<p>
    <p>Pour l'instant c'est le style que je préfère le plus.</p>
    
    
    <h3>Style grenouille</h3>
    <p>croâ</p>
    <p>Un hoodie grenouille et une jupe quadrillée</p>
    <img src="/img/personnages/persona/alors_grenouille.png" alt="Mon persona, vu·e de côté">
    <img src="/img/personnages/persona/alors_grenouille_accroupi.png" alt="Mon persona, accroupi·e">
</Personnage>
