---
import SousPage from "@layouts/SousPage.astro";
import Image from "astro/components/Image.astro";
import Section from "@components/Section.astro";
import laugh from "@img/emotes/laugh3.gif";
import { Picture } from "astro:assets";

---
<SousPage>
    <Section><p>c'est feur. <Picture src={laugh} alt="Smiley qui rigole au sol" /></p></Section>    
</SousPage>