---
import { Picture } from "astro:assets";

import Section from "@components/Section.astro";
import Page from "@layouts/Page.astro";
import question from "@img/question.gif";
import personnages from "@img/personnages.gif";
import construction from "@img/construction.gif";
import Navigation from "@components/Navigation.astro";
import MenuButtons from "@components/MenuButtons.astro";
---

<Page title="Bienve&shy;nue sur le site de Sylfare !">
  <Section>
    <p>Retrouvez tout plein de trucs sur moi !</p>
    <MenuButtons>
      <li>
        <Navigation href="cestquoi" image={question} imageAlt=""
          >C'est quoi ?</Navigation>
      </li>
      <li>
        <Navigation href="personnages" image={personnages} imageAlt=""
          >Mes personnages</Navigation>
      </li>
      <li>
        <Navigation href="genscools">Des gens cools à aller voir</Navigation>
      </li>
      <li>
        <Navigation href="trucssympas">Des trucs sympas à découvrir </Navigation>
      </li>
      <li>
        <Navigation href="remerciements">Les remerciements</Navigation>
      </li>
      <li>
        <Navigation href="changelog">La liste des changements (changelog)</Navigation>
      </li>
    </MenuButtons>
  </Section>

  <Section title="Trucs prévus">
    <p><Picture src={construction} alt="" />SITE EN CONSTRUCTION</p>
    <p>
      J'ai l'intention de mettre plein de trucs sur ce site !! Entre autres :
    </p>
    <ul>
      <li>
        un blog !! où je pourrai partager mes dernières passions du moment
      </li>
      <li>
        plus de pages sur mes personnages, j'en parle moins ces derniers temps
        mais iels existent encore !
      </li>
      <li>encore plus de thèmes</li>
      <li>et plus encore !</li>
    </ul>
  </Section>
</Page>
