---
import Section from "@components/Section.astro";
import SousPage from "@layouts/SousPage.astro";

const links = {
    "en": "/thanks"
}
---

<SousPage title="Un grand merci à vous !" {links}>
    <Section title="Assets utilisés">
        <h3>Thème Windows 98</h3>
        <ul>
            <li>modification de <a href="https://github.com/jdan/98.css/commits/main/">98.css par jdan</a></li>
            <li>police d'écriture : <a href="https://arnesava.github.io/w95font/">W95font par Arne Sava</a></li>
            <li>certaines icônes tirées de la <a href="https://win98icons.alexmeub.com/">collection d'icônes de Windows 98 par Alex Meub</a></li>
        </ul>
    </Section>
    <Section title="Remerciements spéciaux">
        <ul>
            <li>Gros bisous baveux à papi Hercules et mamie Jessie</li>
            <li>cc Vali</li>
        </ul>
    </Section>
</SousPage>