---
import SousPage from "@layouts/SousPage.astro";
import Section from "@components/Section.astro";
---
<SousPage title="Mes personnages">
    <Section>
        <ul>
            <li><a href="/personnages/persona"><img class="pixel" src="/img/personnages/persona/alors_glam_hama.png" alt="" height="32"> Mon persona</a></li>
        </ul>
    </Section>
      
</Page>