---
const { slug, name, checked } = Astro.props;
---
<div id="field-row">
    <input type="radio" id={"theme-"+slug} name="theme" checked={checked || null}>
    <label for={"theme-"+slug}>{name}</label>
</div>

