---
import SousPage from "@layouts/SousPage.astro";
import Image from "astro/components/Image.astro";
import laugh from "@img/emotes/laugh3.gif";

---
<SousPage>
    <p>c'est feur. <Image src={laugh} alt="Smiley qui rigole au sol" /></p>
</SousPage>