---
import SousPage from "@layouts/SousPage.astro";
import { Image } from "astro:assets";
import Section from "@components/Section.astro";
import sylfare from "@banners/sylfare.gif";
---

<SousPage title="Des gens cools">
  <p>Parce qu'iels mérient de l'appréciation</p>

  <Section title="Vali">
    <p>Un sysadmin qui fait des articles sur ses découvertes vidéoludiques</p>
    <p>
      Également un grand adorateur de Final Fantasy XIV, le fameux MMORPG
      acclamé par la critique avec son essai gratuit sans limite de temps
      jusqu'au niveau 70 et qui contient l'intégralité de A Realm Reborn ainsi
      que des extensions multi-récompensées Heavensward et Stormblood (mais il
      déteste les Lalafell, ce monstre)
    </p>
    <p>
      Site : <a href="https://valvali.net/" target="_blank"
        >https://valvali.net/</a
      >
    </p>
  </Section>
  <Section title="Sylfare">
    <p>
      Une personne absolument modeste pour parler d'ellui sur son propre site
    </p>
    <p>Site : <a href="/"><Image src={sylfare} alt="Sylfare" /></a></p>
  </Section>
</SousPage>
