---
import { Image } from "astro:assets";

import Section from "@components/Section.astro";
import Page from "@layouts/Page.astro";
import question from "@img/question.gif";
import personnages from "@img/personnages.gif";

---

<Page title="Bienvenue sur le site de Sylfare !">
  <Section title="test">
    <p><img src="/img/construction.gif" alt="">SITE EN CONSTRUCTION</p>
      <p>Retrouvez tout plein de trucs sur moi !
      <ul>
        <li>Qui suis-je ?</li>
        <li><a href="cestquoi"><Image src={question} alt="" /> C'est quoi ?</a></li>
        <li><a href="personnages"><Image src={personnages} alt="" /> Mes personnages</a></li>
        <li><a href="genscools">Des gens cools à aller voir</a></li>
        <li>Liens et logiciels tout aussi cools</li>
      </ul>
  </Section>
  
</Page>