---
import { Image } from "astro:assets";

import Section from "@components/Section.astro";
import Page from "@layouts/Page.astro";
import question from "@img/question.gif";
import personnages from "@img/personnages.gif";
import construction from "@img/construction.gif";

---

<Page title="Bienvenue sur le site de Sylfare !">
  <Section>
    
      <p>Retrouvez tout plein de trucs sur moi !</p>
      <ul>
        <li><a href="cestquoi"><Image src={question} alt="" /> C'est quoi ?</a></li>
        <li><a href="personnages"><Image src={personnages} alt="" /> Mes personnages</a></li>
        <li><a href="genscools">Des gens cools à aller voir</a></li>
        <li><a href="remerciements">Les remerciements</a></li>
      </ul>
  </Section>

  <Section title="Trucs prévus">
    <p><Image src={construction} alt="" />SITE EN CONSTRUCTION</p>
    <p>J'ai l'intention de mettre plein de trucs sur ce site !! Entre autres :</p>
    <ul>
      <li>un blog !! où je pourrai partager mes dernières passions du moment</li>
      <li>plus de pages sur mes personnages, j'en parle moins ces derniers temps mais iels existent encore !</li>
      <li>un annuaire de liens et applis cools</li>
      <li>encore plus de thèmes</li>
      <li>et plus encore !</li>
    </ul>
  </Section>
  
</Page>