---
import Section from "@components/Section.astro";
import Page from "@layouts/Page.astro";

---

<Page title="Bienvenue sur le site de Sylfare !">
  <Section title="test">
    <p><img src="/img/construction.gif" alt="">SITE EN CONSTRUCTION</p>
      <p>Retrouvez tout plein de trucs sur moi !
      <ul>
        <li>Qui suis-je ?</li>
        <li><a href="cestquoi"><img src="/img/question.gif" alt=""> C'est quoi ?</a></li>
        <li><a href="personnages"><img src="/img/personnages.gif" alt=""> Mes personnages</a></li>
        <li><a href="genscools">Des gens cools à aller voir</a></li>
        <li>Liens et logiciels tout aussi cools</li>
      </ul>
  </Section>
  
</Page>