---
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import BasePage from "@layouts/BasePage.astro";
---

<BasePage>
  <ThemeSwitcher />
  <div id="page">
    <button>a</button>
  </div>
</BasePage>

<style>
  @import "@css/themes.less";
  :global(body) {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    flex-direction: column;
  }
  #page {
    min-width: 100vmax;
    flex: 1 1 auto;
  }
</style>
