---
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import "../css/space.less";
import BasePage from "@layouts/BasePage.astro";
---
<BasePage>
    <button>aaa</button>

    <ThemeSwitcher />
</BasePage>