---
import Section from "@components/Section.astro";
import SousPage from "@layouts/SousPage.astro";


---
<SousPage title="Vous cherchez des trucs sympas ?">
    <p>viendez</p>
    <Section title="Que cherchez-vous ?">
        <ul>
            <li><a href="trucssympas/amour">l'amour</a></li>
            <li><a href="trucssympas/jeux">des jeux</a></li>
        </ul>
    </Section>

</SousPage>