---
import Section from "@components/Section.astro";
import TrucsSympas from "@layouts/TrucsSympas.astro";


---
<TrucsSympas title="l' … l'amour ?">
    <Section title="hein euh">
        <p>Je crois qu'il y a erreur ? C'est pas à moi qu'il faut demander ça.</p>
        <p>Forcez pas les relations, respectez les gens, soyez pas des merdes quoi (feur).</p>
    </Section>
</TrucsSympas>