---
import { useTranslations } from "../i18n/utils";
const { title, language } = Astro.props;

const t = useTranslations(Astro.currentLocale);
---
<!DOCTYPE html>
<html lang={Astro.currentLocale} class="theme-space">
  <head>
    <script src="../scripts/jsonly.js"></script>
    <script blocking="render">
      document.documentElement.classList.value = `theme-${localStorage.getItem('theme') ?? 'space'}`;
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" href={new URL("feeds/changelog.xml", Astro.url )} type="application/rss+xml" title="RSS">
    <title>{t(a=>a.site?.title)}</title>
  </head>
  <body>
    <div id="container">
      <slot />
    </div>

    <JsOnly></JsOnly>
  </body>
</html>
<style lang="less" is:global>
  @import (reference) "@css/themes.less";
  html.theme-98 {    
    footer {
      text-align: center;
    }
  }
  @media (min-width: @size-mobile) {
    html.theme-98 body {
      padding: 1em 25%;
    }
  }
</style>