---
import ThemeRadios from "@components/themes/ThemeRadios.astro";
import TitleBar from "@components/TitleBar.astro";
import JsOnly from "./JsOnly.astro";
---
<JsOnly>
  <div id="config-container" class="window hidden">
    <TitleBar title="Configuration"/>
    <div id="config" class="window-body">
      <fieldset id="config-theme">
        <legend>Thème</legend>
        <ThemeRadios />
      </fieldset>
    </div>
  </div>
  <button id="theme-toggle">Paramètres</button>
</JsOnly>
<style lang="less">
  @import (reference) "@css/themes.less";

  #config-container {
    display: none;
    visibility: hidden;
  }

  #config-container {
    display: block;
    visibility: visible;
  }

  #config-container.hidden {
    display: none;
  }

  @media (min-width: @size-mobile) {
    #theme-toggle {
      position: absolute;
      align-self: flex-end;
      right: 10px;
      top: 10px;
    }
  }
  
</style>


<script>

  function saveTheme(name: string) {
      console.debug("on enregistre ", name);
      localStorage.setItem("theme", name);
      document.documentElement.classList.value = "theme-" + name;
  }
  document.addEventListener("jsonly", () => {
    // close theme window
    document.querySelector('#config-container [aria-label=Close]')?.addEventListener("click", e => showConfig(false));
    
    let isConfigOpen = false;

    const configWindow = document.getElementById("config-container");
    const themeToggle = document.getElementById("theme-toggle");

    themeToggle?.addEventListener("click", () => showConfig(isConfigOpen = !isConfigOpen));

      // save theme on toggle
      console.log("yeahrhhh");
      document.querySelectorAll('.theme-option').forEach(i => i.addEventListener("change", (e) => {
          saveTheme(e.target.dataset.theme)
      }
      )); 


    function showConfig(show: boolean) {
      if(configWindow && themeToggle) {
        if(show) {
          configWindow.classList.remove("hidden");
          themeToggle.innerText = "Fermer";
        } else {
          configWindow.classList.add("hidden");
          themeToggle.innerText = "Paramètres";
        }
      }
      
    }
  });
  
  
</script>

<script>

    document.addEventListener("load", e => {
        

    })


</script>
