---
---

<footer>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><img src="/img/banners/valid-html5.gif" alt="Validé par le W3C"></a>
    <a href="https://neocities.org/" target="_blank"><img src="/img/banners/n.gif" alt="NeoCities"></a>
    <img src="/img/banners/inclusive_pride.gif" alt="drapeau progressif des fiertés">
    <img src="/img/banners/agender.gif" alt="Drapeau agenre - gender? no thx (genre ? non merci)">
    <img src="/img/banners/asexual.gif" alt="Drapeau asexuel - make laugh not war (faites l'humour pas la guerre)">
</footer>