---
import { Image } from "astro:assets";

const { href, image, imageAlt } = Astro.props;
---
<a {href}>{ image && <Image src={image} alt={imageAlt} />}{image && " "}<slot /></a>

<style lang="less">
    @import (reference) "@css/themes.less";

    html.theme-98 {
        a {
            display: inline-flex;
            flex-basis: 100px;
            flex: 1;
            align-items: center;
            &:extend(html.theme-98 button);
            height: 64px;
            margin: .5rem;
        }
    }
</style>