---
const { title } = Astro.props;
import TitleBar from "@components/TitleBar.astro";
---

<div class="window">
  <TitleBar title="test coucou" maximize minimize/>
  <div class="window-body">
    <slot />
  </div>
</div>
<style is:global></style>
