---
import ThemeRadio from "@components/ThemeRadio.astro";
import themes from "../css/themes/themes.json"
import ThemeButton from "./ThemeButton.astro";
let themesList = Object.entries(themes);
let firstSlug, firstName;
if(themesList.length > 0) {
    let first = themesList.pop();
    if(first) {
        [firstSlug, firstName] = first;
    }
} 
---
<!-- <div id="theme-section">
    <input type="checkbox" id="theme"/>
    <select id="theme-list"></select>
</div> -->

<>  
    {firstSlug && <ThemeRadio slug={firstSlug} name={firstName} checked/>}
    {themesList.map(([slug, themeName]) => <ThemeRadio slug={slug} name={themeName}/>)}
</>


<style>
    /* #theme-section {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column-reverse;
        
    }
    #theme:checked + #theme-list {
        display: block;
    }
    #theme-list {
        display: none;
    } */
</style>