---
import { render } from "astro:content";

import type { CollectionEntry } from "astro:content";
import Section from "./Section.astro";
type Props = {
    changelog: CollectionEntry<'changelog'>,
};
const { changelog } = Astro.props;
const date = changelog.data;

function pad(str: string | number, length: number, character: string) {
    return str.toString().padStart(length, character);
}

function formatDate(date: Date): string {
    switch (Astro.currentLocale) {
        case "fr":
            return `(${[date.getDate(), date.getMonth()+1, date.getFullYear()].filter(n => typeof n !== "undefined").map(n => pad(n, 2, '0')).join('/')})`;
    
        case "en":
            return `(${[ date.getFullYear(), date.getDate(), date.getMonth()+1,].filter(n => typeof n !== "undefined").map(n => pad(n, 2, '0')).join('-')})`;
        default:
            return 'bad/date/error';
    }
}

const { Content } = await render(changelog);
---

<Section title={`${changelog.data.version} ${changelog.data.name ? " - " + changelog.data.name : ""} ${changelog.data.date && formatDate(changelog.data.date)}`} slug={changelog.data.version}>
   <Content /> 
</Section>



