---
import { Image } from "astro:assets";

const { href, image, imageAlt} = Astro.props;
---
<a {href} class={href ? "navigation" : "navigation disabled"}>{ image && <Image src={image} alt={imageAlt} />}{image && " "}<slot /></a>

<style lang="less">
    @import (reference) "@css/themes.less";

    html.theme-98 {
        .navigation {
            display: flex;
            flex: 1;
            align-items: center;
            &:extend(html.theme-98 button);
            height: 64px;

            &.disabled {
                color: var(--button-shadow);
                text-shadow: 1px 1px 0 var(--button-highlight);
            }
        }
        
    }
</style>