---
const { title, id } = Astro.props;
import TitleBar from "@components/TitleBar.astro";
---

<div class="window">
  <TitleBar title={title} maximize minimize/>
  <div class="window-body">
    { title && <h2 id={id}>{title}</h2>}
    <slot />
  </div>
</div>
<style lang="less">
  @import (reference) "@css/themes.less";

  html.theme-98 {
    .window {
      margin: 0 auto 32px;
    }
    
    .window-body h2 {
      display: none;
    }
  }
  
</style>
<script>
  document.addEventListener("jsonly", () => {
    document.querySelectorAll('main button[aria-label="Close"]')
    .forEach(i => {i.addEventListener("click", function(e){e.target.parentElement.parentElement.parentElement.remove(); } )})
    document.querySelectorAll('main button[aria-label="Maximize"]')
    .forEach(i => {i.addEventListener("click", function(e){e.target.parentElement.parentElement.parentElement.classList.toggle("window-maximized"); } )})
  });
</script>