---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le site de Sylfare</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style lang="less" is:global>
  @import (reference) "@css/themes.less";
  @{theme-98} {    
    footer {
      text-align: center;
    }
  }
</style>