---
import Footer from "@components/Footer.astro";
import BasePage from './BasePage.astro';
import ThemeShow from "@components/themes/ThemeShow.astro";
import ThemeConfig from "./ThemeConfig.astro";
import '@css/themes.less';

const { title } = Astro.props;
---
<BasePage>
  <ThemeConfig />
  {title && <h1 >{title}</h1>}
  <main>
      <slot />
  </main>
  <Footer />
  <ThemeShow />
</BasePage>
