---
import Footer from "@components/Footer.astro";
import BasePage from './BasePage.astro';
import ThemeConfig from "./ThemeConfig.astro";
import '@fontsource/atkinson-hyperlegible/400.css';
import '@fontsource/atkinson-hyperlegible/700.css';
import '@css/themes.less';

const { title } = Astro.props;
---
<BasePage>
  <ThemeConfig />
  {title && <h1 >{title}</h1>}
  <main>
      <slot />
  </main>
  <Footer />
</BasePage>
<style lang="less">
  @import (reference) "@css/themes.less";
  html.theme-98 main p {
    color: white;
  }
</style>