---
import Icon from "@components/Icon.astro";
import ThemeRadios from "@components/themes/ThemeRadios.astro";
import TitleBar from "@components/TitleBar.astro";
import JsOnly from "./JsOnly.astro";
---
<JsOnly>
  <div id="config-container" class="window">
    <input type="checkbox" id="theme-toggle" />
    <TitleBar title="Configuration"/>
    <div id="config" class="window-body">
      <fieldset id="config-theme">
        <legend>Thème</legend>
        <ThemeRadios />
      </fieldset>
    </div>
    
    <label for="theme-toggle" id="theme-hide">Fermer</label>
  </div>

  <label for="theme-toggle" id="theme-show" aria-hidden="true">Paramètres</label>
</JsOnly>
<style lang="less">
  @import (reference) "@css/themes.less";

  #config-container {
    display: none;
    visibility: hidden;
  }

  @supports selector(body:has(input:checked)) {
    #config-container {
      display: block;
      visibility: visible;
    }


    #theme-toggle {
      display: none;
    }

    #config-container {
      display: none;
      flex-direction: column;
      &:has(#theme-toggle:checked) {
        display: flex;
      }
    }
    body:has(#theme-toggle:checked) #config {
      display: flex;
    }


    #theme-show {
      position: absolute;
      align-self: flex-end;
      right: 10px;
      top: 10px;
      html.theme-98 & {
        &:extend(html.theme-98 button all);
      }
      
      body:has(#theme-toggle:checked) & {
        display: none;
      }
    }

    #theme-hide {
      
      align-self: flex-end;
      right: 10px;
      bottom: 10px;

      html.theme-98 & {
        &:extend(html.theme-98 button all);
      }
    }  
  }
</style>


<script>
  // charger le thème si défini
  const theme = localStorage.getItem('theme');
  if(theme) {
    const radio = document.getElementById('theme-'+theme);
    saveTheme(theme);
  }

  document.addEventListener("jsonly", () => {
    // close theme window
    document.querySelector('#config-container [aria-label=Close]')?.addEventListener("click", e => document.getElementById("theme-toggle").checked = false );
    
    // save theme on toggle
    document.querySelectorAll('#config-theme input[type="radio"]').forEach(i => i.addEventListener("change", (e) => {
        saveTheme(e.target.dataset.theme)
    }
    ));   

    // check radio button on load
    if(theme) {
      const themeRadio = document.getElementById(`theme-${theme}`) ?? document.getElementById(`theme-space`) ?? null;
      if(themeRadio) {
        themeRadio.checked = true;
      }
    }
  });

  function saveTheme(name: string) {
      localStorage.setItem("theme", name);
      document.documentElement.classList.value = "";
      document.documentElement.classList.add('theme-' + name);
  }    
</script>