---
import Section from "@components/Section.astro";
import SousPage from "@layouts/SousPage.astro";
---

<SousPage title="Big thanks to you!">
    <Section title="Used assets">
        <h3>Windows 98 theme</h3>
        <ul>
            <li>edited theme from <a href="https://github.com/jdan/98.css/commits/main/">98.css by jdan</a></li>
            <li>font: <a href="https://arnesava.github.io/w95font/">W95font by Arne Sava</a></li>
            <li>some icons taken from <a href="https://win98icons.alexmeub.com/">Alex Meub's Windows 98 icon collection</a></li>
        </ul>
    </Section>
    <Section title="Special thanks">
        <ul>
            <li>Big sloppy kisses to Grandpa Hercules and Grandma Jessie</li>
            <li>cc Vali</li>
        </ul>
    </Section>
</SousPage>